body {
    margin: 0;
   
}
.NavAll {
    justify-content: center;
    display: flex;
}

.TopNav {
    width: 90%;
    height: 40px;
    background-color: #a8e3e5;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-radius: 20px;
}

.MainLinks {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.TopNav a {
    color: #e84d88;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.active {
    background-color: #d9a6b7;
}

.Icon {
    display: flex;
    align-items: center;

}

.Icon img {
    height: 40px;

}

.TopNav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#basketIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* product page */

.AllProducts {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.OneProduct {
    width: 300px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.ADD {
    background-color: #a8e3e5;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ADD:hover {
    background-color: #e84d88;

}

.Price {
    color: #e84d88;
    font-size: 20px;
    font-family:cursive ;
}

.Carrot cake {
    background-image: url(../images/carrot-cake.jpg);
    background-size: cover;
    background-position: center;
}