.NavAll {
    justify-content: center;
    display: flex;
}

.TopNav {
    width: 90%;
    height: 40px;
    background-color: #a8e3e5;
    display: flex;
    
    border-radius: 20px;
}

.MainLinks {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.TopNav a {
    color: #e84d88;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.active {
    background-color: #d9a6b7;
}

.Icon {
    display: flex;
    align-items: center;
}

.Icon img {
    height: 40px;

}

.TopNav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
   }

#basketIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}